# Extract

In [1]:
# Load data/day1/supplier_details.csv and suppliers.csv into pandas
import pandas as pd

details = pd.read_csv("../data/day1/supplier_details.csv")
suppliers = pd.read_csv("../data/day1/suppliers.csv")

   SupplierID         SupplierName SupplierCategory         City  IsActive
0         101     BeanRoasters Co.     Coffee Beans      Toronto      True
1         102   SweetTreats Bakery           Bakery  Mississauga      True
2         103      MapleMilk Dairy     Milk & Dairy     Brampton      True
3         104    CupTech Equipment        Equipment      Toronto      True
4         105  FreshBrew Logistics        Logistics     Oakville      True